<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{resources/css/styles.css}"  href="resources/css/styles.css"/>
    
</head>
<body>

<div th:replace="layout/master :: header">
</div>

<div>

   <H1 th:text="#{home.message}"></H1>
    
</div>

<div th:replace="layout/master :: footer">
</div>

</body>
</html>